{{ define "contacts/view" }}

<!-- <h1> {{ .Contact1.FirstName}}</h1> -->

<!--<ul>
    {{ range .Contacts }}
        <li> {{ .FirstName }} {{ .LastName }}</li>
    {{ end }}
</ul> -->

<table class="table table-striped table-bordered table-hover table-condensed">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Zip Code</th>
    </tr>
    {{ range .Contacts }}
        <tr>
            <td>{{ .FirstName }}</td>
            <td>{{ .LastName }}</td>
            <td>{{ .ZipCode }}</td>
        </tr>

    {{ end }}
</table>

{{ end }}